<div id="nav">
  <ul>
    <li><a href="#">Timeline</a></li><li><a href="#">Category</a></li><li><a href="#">Name</a></li><li><a href="#">Maintainer</a></li>
  </ul>
</div>
<h1>Timeline</h1>
<table class="resultlist">
  <tr class="property">
    <th>Port</th>
    <th>State</th>
    <th>Revison</th>
    <th>Time</th>
    <th>CPU</th>
    <th>OS</th>
  </tr><%- @builds.each do |build| -%><tr class="resultentry">
    <td><div class="namecol"><%= build.name %></div></td>
    <% if build.state == "fail" -%>
    <td><div class="statecol"><span class="fail"><%= link_to "fail", :action => :show, :id => build.id %></span></div></td>
    <% else -%>
    <td><div class="statecol"><span class="success">success</span></div></td>
    <% end -%>
    <td><div class="revisioncol"><%= build.revision %></div></td>
    <td><div class="timecol"><%= build.time %></div></td>
    <td><div class="cpucol"><%= build.cpu %></div></td>
    <td><div class="oscol"><%= build.os %></div></td>
  </tr><%- end -%></table>
<%= will_paginate @builds %>
