<h1>Paged builds</h1>

<table class="resultlist">
  <tr class="property">
    <th>Port</th>
    <th>State</th>
    <th>Revison</th>
    <th>Time</th>
    <th>CPU</th>
    <th>OS</th>
  </tr>
  <%- @builds.each do |build| -%>
  <tr class="resultentry">
    <td><%= build.name %></td>
    <% if build.state == "fail" -%>
    <td><span class="fail"><%= link_to "fail", :action => :show, :id => build.id %></span></td>
    <% else -%>
    <td><span class="success">success</span></td>
    <% end -%>
    <td><%= build.revision %></td>
    <td><%= build.time %></td>
    <td><%= build.cpu %></td>
    <td><%= build.os %></td>
  </tr>
  <%- end -%>
</table>

<%= will_paginate @builds %>
