<p/>
<div>Timeline</div>
<table class="resultlist">
  <tr class="property">
    <th>Port</th>
    <th>State</th>
    <th>Revison</th>
    <th>Time</th>
    <th>CPU</th>
    <th>OS</th>
  </tr><%- @builds.each do |build| -%><tr class="resultentry">
    <td><div class="widecol"><%= build.name %></div></td>
<% if build.state == "fail" -%>
    <td><div class="narrowcol"><span class="fail"><%= link_to "fail", :action => :show, :id => build.id %></span></div></td>
<% else -%>
    <td><div class="narrowcol"><span class="success">success</span></div></td>
<% end -%>
    <td><div class="narrowcol"><%= build.revision %></div></td>
    <td><div class="widecol"><%= build.time %></div></td>
    <td><div class="narrowcol"><%= build.cpu %></div></td>
    <td><div class="narrowcol"><%= build.os %></div></td>
  </tr><%- end -%></table>
<%= will_paginate @builds %>
